<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Angular UI Tree Demo</title>
</head>
<body ng-app="angularUiTreeDemo">
    <div ng-controller="MainCtrl">
        <ul ui-tree="treeSource">
            <li node="item" id="{{item.id}}" ng-click="toggle(item);$event.stopPropagation();">
                <span class="glyphicon glyphicon-search" ng-class="{'glyphicon-menu-right':!item.isOpen,'glyphicon-menu-down':item.isOpen}" ng-show="item.children"></span>
                <span>{{item.name}}</span>
                <ul node-children="item.children" ng-show="item.isOpen"></ul>
            </li>
        </ul>
        <ul class="list-group" ui-tree="treeSource">
            <li node="item" class="list-group-item" ng-click="toggle(item);$event.stopPropagation();">
                <span class="badge" ng-show="item.children">{{item.children.length}}</span>
                {{item.name}}
                <ul node-children="item.children" ng-show="item.isOpen">
                </ul>
            </li>
        </ul>
    </div>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/uiTree.js"></script>

    <script src="app.js"></script>
</body>
</html>
